<body>
    <h1>Edit Store</h1>

    <!-- Check if there is an error message to display -->
    <% if(errorMessage !="" ){ %>
        <ul>
            <!-- Display the error message -->
            <li>
                <%= errorMessage %>
            </li>
        </ul>
        <% }else { %>
            <!-- Display requirements for manager details if there is no error message -->
            <ul>
                <li>Manager ID must be 4 characters</li>
                <li>Manager ID must not be assigned to another store</li>
                <li>Manager ID must exist</li>
                <li>Location should be at least one character in length</li>
            </ul>
            <% } %>

                <!-- Form for editing a store -->
                <form action="/store/edit/<%= storeData.sid %>" method="POST">
                    <label>SID:</label>
                    <!-- Read only input field for Store ID -->
                    <input type="text" name="sid" value="<%= storeData.sid %>" readonly><br>

                    <label>Location</label>
                    <!-- Input field for Location -->
                    <input type="text" name="location" value="<%= storeData.location %>"><br>

                    <label>Manager ID</label>
                    <!-- Input field for Manager ID -->
                    <input type="text" name="mgrid" value="<%= storeData.mgrid %>"><br>

                    <!-- Submit button to add the manager -->
                    <input type="submit" value="Edit">
                </form>

                <!-- Link to the home page -->
                <a href="/">Home</a>
</body>