<!-- Border for the table -->
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<h1>Products</h1>

<table>
    <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Store ID</th>
        <th>Location</th>
        <th>Delete</th>
    </tr>

    <!-- Iterate over all of the products and add their details to a new row in the table -->
    <% productData.forEach((product)=> { %>

        <!-- Table row for each product -->
        <tr>
            <!-- Display Product ID -->
            <td>
                <%= product.pid %>
            </td>

            <!-- Display Product Description -->
            <td>
                <%= product.productdesc %>
            </td>

            <!-- Display SID of store that product is in -->
            <td>
                <%= product.sid %>
            </td>

            <!-- Display location of store that product is in -->
            <td>
                <%= product.location %>
            </td>

            <!-- Display Product Price -->
            <td>
                <%= product.Price %>
            </td>

            <!-- Link to delete the product -->
            <td><a href="products/delete/<%= product.pid %>">Delete <%= product.productdesc %></a></td>
        </tr>

        <% }) %>
</table>

<!-- Link to the home page -->
<a href="/">Home</a>